<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<ConnectionString>
		<add name="DefaultConnection"
			ConnectionString="Server=(LocalDB)\MSSQLLocalDB;Database=WinFormsDB;Trusted_connection=True;" providerName="System.Data.SqlClient"/>
	</ConnectionString>
</configuration>
